

<div class="row well">
    <div class="col-md-6">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-google-map>
    </div>
    <div class="col-md-6">
        <div class="panel-default">
            <address>
                <strong>PPGYM</strong><br>
                via B. Cipiti 4<br>
                Adrano, CT 95031
            </address>
        </div>
        <div class="panel-default">
            Dalla Strada Statale 284/SS284<br>
            uscire in via Vittorio Emanuele in direzione di Via Colombo,<br>
            e poi svoltare in via cipiti.
        </div>
    </div>
</div>