<div class="panel panel-default panel-heading">
    <strong>Benvenuti sul sito della palestra PPGYM</strong>


    <div class="row panel-body">
        <div class="col-md-4 text-justify">
            PPGYM è fitness di qualità ma anche un sistema integrato di servizi alla persona mirato alla
            prevenzione, alla salute e al controllo dello stress.Le attrezzature vengono costantemente rinnovate
            in collaborazione con le principali aziende del settore così come la ricca proposta di corsi e
            allenamenti in esclusiva in costante aggiornamento. La SPA di PPGYM, uno dei punti di forza del
            centro, è uno spazio accogliente e tranquillo dove benessere, innovazione e bellezza vanno di pari
            passo.
        </div>
        <div class="col-md-4 text-justify">
            Le attrezzature isotoniche e cardiovascolari di ultima generazione ti aiuteranno a rendere divertente
            ed efficace il tuo allenamento facendoti ottenere risultati da te desiderati: dimagrimento,
            tonificazione o semplicemente mantenerti in forma.
            Oltre 400 mq di sale destinate ai corsi collettivi, 140 attività settimanali a tua scelta;
            le varietà dei gruppi ti garantiranno divertimento e ottenimento degli obbiettivi prefissati con
            il supporto dei migliori professionisti del settore.PPGYM ti mette a disposizione una piscina
            semiolimpionica dove potrai nuotare e fare numerose attività ginniche sfruttando la resistenza
            dell' acqua.
            Se desideri rilassarti puoi utilizzare la nostra Zona Relax dove troverai sauna, bagno turco e
            ampio idromassaggio cromo terapico.
            A fine allenamento puoi provare i trattamenti offerti dal nostro PPGYMBeauty per regalarti
            esperienze memorabili e coccole per il corpo.
        </div>
        <div class="col-md-4">
            <address>
                Per info contattaci allo:<br>
                <abbr title="Phone">Tel:</abbr> 095-7606236<br>
                oppure mandaci una email:<br>
                <a href="mailto:info@PPGYM.oh">info@PPGYM.oh</a>
            </address>

            <a href="#/location">Scopri dove siamo!</a>
        </div>

    </div>
</div>