<div class="well">
    <p class="text-justify" ng-bind-html="currentCourse.description"></p>
    <div class="row">
        <div class="col-md-6">
            <p>Per saperne di più su questa categoria di corsi <a href="#/categories/{{currentCourse.cid}}">clicca qui.</a></p>
            <div>
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="max-width: 100%; min-width: 100%;">
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="col-md-6">
            <p class="text-justify" ng-bind-html="currentCourse.who_should"></p>
        </div>
    </div>
</div>